// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

// 引入markdown样式文件
@import "../assets/css/vendor/_markdown.scss";

@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

/* universal */

body {
  font-family: Helvetica,Arial,PingFang SC,Noto Sans,Roboto,Microsoft Yahei,sans-serif;
  font-size: 14px;
  color: #636b6f;
  background: #f2f5f6;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

body, h1, h2, h3, h4, h5 {
  font-family: Lato,Helvetica Neue,Arial,Helvetica,sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

a,
a:visited {
  text-decoration: none;
  outline: 0;
  color: #444;
}

a:hover{
  text-decoration: none;
  outline: 0;
  color: #ff5d23; }

ul li {
  list-style-type:none;
}

body > h1 {
  font-size: 20px;
  font-weight: 400;
}

.card {
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  background-color: #FFFFFF;
  margin-bottom: 20px;
  position: relative;
  border: 0 none;
  -webkit-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  -moz-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  -o-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
}

.transition {
  -webkit-transition: ALL 0.5s ease;
  -moz-transition: ALL 0.5s ease;
  -o-transition: ALL 0.5s ease;
  transition: ALL 0.5s ease;
}

@media (min-width: 1200px){
  .container {
    max-width: 1300px;
  }
}

.clearfix {
  clear: both;
}


/* header */

.navbar-static-top {
  border-color: #e7e7e7;
  background-color: #fff;
  box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
  //border-top: 4px solid #00b5ad;
  //border-bottom: 1px solid #e8e8e8;
  margin-bottom: 35px;
  margin-top: 0px;
}

.dropdown-submenu {
  position: relative;

}
.dropdown-submenu > a, .navbar-ul > li > a{
  color: rgba(0, 0, 0, 0.5);
}
.dropdown-submenu a::after {
  //transform: rotate(-90deg);
  position: absolute;
  right: 3px;
  top: 40%;

}

.dropdown-submenu:hover > .dropdown-menu, .dropdown-submenu:focus > .dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute !important;
  //margin-top: -30px;
  //left: 100%;
}

@media (max-width: 992px) {
  .dropdown-menu {
    width: 50%;
  }
  .dropdown-menu .dropdown-submenu {
    width: auto;
  }
}

/* 注册验证码 */
.register-page {
  img.captcha {
    cursor: pointer;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 3px;
  }
}

/* 话题首页 */
.topics-index-page, .tags-show-page, .categories-show-page, .root-page {
  .topic-list {

    //文章列表头部排序
    .nav>li>a {
      position: relative;
      display: block;
      padding: 5px 14px;
      font-size: 0.9em;
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
      background: rgba(0,0,0,.05);
      color: rgba(0,0,0,.95);
    }

    //文章标题徽章
    .badge ,.badge-danger {
      position: relative;
      top:-2px;
    }

    .title-badge{
      padding: .4em .4em;
      color: #fff;
      font-weight: 500;
      font-size: .75em;
      display: inline-block;
      margin-bottom: 3px;
      padding-top: 5px;
      background-color: #f5593d;
    }
    .title-badge-icon{
      color: #f5593d;
      position: relative;
      left: -5px;
    }

    //文章描述下的meta
    .meta {
      span {
        margin-right: 9px;
      }

      font-size: 0.9em;
      color: #b3b3b3;

      a {
        color: #b3b3b3;
      }

      a:hover {
        color: #ff5d23;
      }

      .meta-user-img {
        position: relative;
        top: -3px;
        border-radius:50%;
        width: 30px;
        height: 30px;
        margin-right: 3px;
      }

    }

    //列表分割线
    hr {
      margin-top: 12px;
      margin-bottom: 12px;
      border: 0;
      border-top: 1px solid #dcebf5;
    }

    //继续阅读
    .read-more {
      padding: 2px 10px;
      position: absolute;
      right: 15px;
      bottom: 0;
      color: #f5f2f0;
      border: 1px solid #ff8f5e;
      background: #ff8f5e;
      border-radius: 10px;
    }
    .read-more:hover {
      color: #fff;
      border: 1px solid #ff5d23;
      border-radius: 0;
      background: #ff5d23;
    }
  }
}

/* 文章图片最大宽度 */
.simditor-body img {
  max-width:100%;
}

/* 文章内容页 */
@import "topic_body";

.topics-show-page {

  .topic-card {
    padding: 15px;

    h1 {
      font-size: 26px;
      font-weight: 400;
    }
    .book-article-meta {
      a {
        color: #adb1af;
        margin: 22px 0;
        font-size: .9em;
        &:hover {
          color: #ff5d23;
        }
      }
      .divider {
        color: #cacaca;
        margin: 0 5px;
      }
      .text-mute {
        color: #a5a5a5!important;
      }
      span {
        margin-right: 6px;
      }
    }

    .prev-next {
      padding-left: initial;
      a {
        color: #F25E45;

        &:hover {
          color: #D82508;
        }
      }
    }

    .topic-copyright {
      clear: both;
      overflow: hidden;
      margin-bottom: 20px;
      background: #f7fbff;
      padding: 10px 20px;
      border: 1px dashed #e6e6e6;
      border-radius: 4px;
      font-size: 12px;
      margin-top: 20px;
    }
  }
}

//上一篇下一篇
.entry-navigation {
  background-color: #ffffff;
  display: block;
  margin-top: 30px;
  position: relative;
  border-radius: 5px;
  padding: 20px;

  .article-nav {
    overflow: hidden;
    font-size: 14px;
    color: #bbb;

    span {
      float: left;
      position: relative;
      width: 50%;
    }
    span.article-nav-next {
      float: right;
      text-align: right;
      :before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        display: block;
        width: 1px;
        background-color: #eee;
      }
      a {
        margin-left: 10px;
        margin-right: 0;
      }
    }

    a {
      color: #999;
      margin-right: 10px;
      display: inline-block;
      &:hover {
        color: #f5593d;
      }
    }
  }
}

/* 回复列表 */

.topic-reply {
  a {
    color: inherit;
  }

  .meta {
    font-size: .9em;
    color: #b3b3b3;
  }
}

/* 消息通知 */
.notification-badge {
  .badge {
    font-size: 12px;
    margin-top: 14px;
  }

  .badge-secondary {
    background-color: #EBE8E8;
  }

  .badge-hint {
    background-color: #d15b47 !important;
  }
}

/*header 头 选中鼠标移入*/
//#navbarSupportedContent li.active{
//  background: rgba(0,0,0,.05);
//  min-height: 100%;
//  border-radius: .28571429rem;
//  color: rgba(0,0,0,.95);
//}
//#navbarSupportedContent li:hover{
//  background: rgba(0,0,0,.05);
//  min-height: 100%;
//  border-radius: .28571429rem;
//  color: rgba(0,0,0,.95);
//}

.topic-list-right {
  overflow: hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

/* 侧边栏 */
.sidebar {
  overflow: hidden;
  .card .card-title span {
    border-bottom: 3px solid #f5593d;
  }
  //推荐文章
  .recommend-articles{

  }
  //标签云
  .tags {
    .tag-all-name {
      padding-left: 0;

      .tag-name {

        margin-top: 5px;
        margin-right: 5px;
        float: left;

        .tag-name-style-1 {
          background: #43AC6A;

          &:hover {
            text-decoration: none;
            background: #028231;
          }
        }

        .tag-name-style-2 {
          background: #F3A557;

          &:hover {
            text-decoration: none;
            background: #E97705;
          }
        }

        .tag-name-style-3 {
          background: #F25E45;

          &:hover {
            text-decoration: none;
            background: #D82508;
          }
        }

        .tag-name-style-4 {
          background: #34AFD8;

          &:hover {
            text-decoration: none;
            background: #0583AC;
          }
        }

        a {
          display: block;
          padding: 2px 10px;
          line-height: 20px;
          border-radius: 10px;
          font-family: SimSun;
          color: #fff;
          &:hover {
            border-radius: 0;
          }
        }
      }
    }
  }

  .sidebar-comments {
    .new-comment {
      padding: 3px 0 3px 40px;
      width: 100%;
      position: relative;
      border-top: 1px solid #dcdcdc;
      li {
        white-space:nowrap; //强制不换行
        overflow:hidden; //自动隐藏文字
        text-overflow: ellipsis; //文字隐藏后添加省略号
      }
      .head-img {
        width: 32px;
        height: 32px;
        position: absolute;
        left: 0;
        top: 5px;
      }
      .nickname {
        font-size: 13px;
        overflow: hidden;
        color: #555;
        span {
          color: #999;
          float: right;
        }
      }
      .topic-title {
        font-size: 13px;
        color: #999;
        a {
          color: #555;
          &:hover {
            color: #ff5d23;
          }
        }
      }
      .content {
        color: #999;
        font-size: 12px;
      }
    }
  }
}

/* 页脚footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #000;

  .container {
    padding-right: 15px;
    padding-left: 15px;

    p {
      margin: 19px 0;
      color: #c1c1c1;

      a {
        color: inherit;
      }
    }
  }
}
